{{! <div class='messenger__home-content-header-user'> }}
<div class='messenger__home-content-header-avatar'>
  <img src='{{avatar}}' alt='{{chat.title}}' />
</div>
<div class='messenger__home-content-header-name'>{{chat.title}}
  <span>Участников: {{userLength}}</span></div>
{{! </div> }}
{{{modal}}}
