<div class='messenger__home-content-header-user'>
	<div class='messenger__home-content-header-avatar'>
		<img src="{{avatar}}" alt="{{name}}">
	</div>
	<div class='messenger__home-content-header-name'>{{name}}</div>
</div>
{{{dropdown}}}
{{{modal}}}
